<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/flickity.css" media="screen">
    <title>Home | Botacura</title>
</head>
<body>
    <header class="header-home">
        <section>
            <div class="bars">
                <a href="#"><i class="fas fa-bars"></i></a>
            </div>
            <div class="logo">
                <a href="/"><img src="/images/logo/logo.png" alt="logo"></a>    
            </div>
            <div class="central-navbar">
                <ul>
                    <li><a href="#">Escalada</a></li>
                    <li><a href="#">Camperas</a></li>
                    <li><a href="#">Calzado</a></li>
                    <li><a href="#">Mochilas</a></li>
                    <li><a href="#">Marcas</a></li>
                </ul>
            </div>
            <nav class="main-nav">
                
                <div class="right-navbar">
                   
                    <div class="search">
                        <a><i class="fas fa-search"></i></a>
                    </div>

                    <div class="user">
                        <a href="/login"><i class="fas fa-user-circle"></i></a>
                    </div>
    
                    <div class="cart">
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </nav>
        </section>
    </header>

    <section class="home-banner">
        <div class="bannerImg">
            <img src="/images/homeImages/smith_d_1317-2250x1266-1-1920x1079.jpg" alt="">
        </div>
        <div class="promo">
            <h2>NUEVOS ELEMENTOS PARA TUS TRAVESIAS</h2>
            <div class="holderButton">
                <a href="#">SOGAS</a>
                <a href="#">ARNESES</a>
            </div>
        </div>
    </section>

    <main class="home-main">
        <article class="main-catalogo main-carrousel js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true, "freeScroll": true, "prevNextButtons": false, "pageDots": false, "wrapAround": true }'>
            
            <div class="clothingBox carrousel-cell">
                <a href="#">Camperas</a>
            </div>
            <div class="shoesBox carrousel-cell">
                <a href="#">Calzado</a>
            </div>
            <div class="backpacksBox carrousel-cell">
                <a href="#">Mochilas</a>
            </div>
            <div class="elementsBox carrousel-cell">
                <a href="#">Escalada</a>
            </div>

        </article>
        <article class="main-offers">
            <h3 class="main-offers-title">OFERTAS</h3>
            <div class="carrousel-offers main-carrousel js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true, "freeScroll": true, "prevNextButtons": false, "pageDots": false}'>
                
                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>
                
                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>
                
                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>
                
                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>

                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>

                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>

            </div>  
        </article>
        <article class="main-news">
            <h3 class="main-news-title">NOVEDADES</h3>
            <div class="carrousel-news main-carrousel js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true, "freeScroll": true, "prevNextButtons": false, "pageDots": false }'>

                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>

                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>

                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>

                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>

                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>

                <div class="product-card carrousel-cell">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="" class="img-prod">
                    <div class="articleInfo">
                        <i class="heart"></i>
                        <h4 class="ProductName">Nombre Producto</h4>
                        <p class="productBrand">Marca Producto</p>
                        <p class="productPrice">$Precio</p>
                    </div>
                </div>

            </div>
        </article>
    </main>
    
    <footer class="footer-home">
        <form class="suscribe" action="/subscribe" method="POST">
            <div class="form-label">
                <h3>Suscribite a nuestro newsletter</h3>
                <p>¡Mantente al dia con nuestras últimas ofertas!</p>
            </div>
            <div class="subvar">
                <input type="email" name="subscribe" placeholder="Email">
                <button type="submit"><a href="/"><i class="fas fa-arrow-right"></i></a></button>
            </div>
        </form>
        <div class="footerBottom">
            <div class="logoBox">
                <a href="/"><img class="logoImg" src="/images/logo/logoBlanco.png" alt="Botacura"></a>
                <a href="/"><img class="logoLetras" src="/images/logo/logoLetrasBlanco.png" alt="Botacura"></a>
            </div>
            <div class="info">
                <ul>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Atencion al cliente</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                </ul>
            </div>
            <div class="redes">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/JuanLamb/ProgramaticGrupo9Sprint2"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </footer>
    <script src="/js/flickity.pkgd.min.js"></script>
</body>
</html>