<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/flickity.css" media="screen">
    <title>Botacura</title>
</head>
<body>
    <header class="header-home">
        <section>
            <div class="bars">
                <a href="#"><i class="fas fa-bars"></i></a>
            </div>
            <div class="logo">
                <a href="/"><img src="/images/logo/logo.png" alt="logo"></a>    
            </div>
            <div class="central-navbar">
                <ul>
                    <li><a href="#">Escalada</a></li>
                    <li><a href="#">Camperas</a></li>
                    <li><a href="#">Calzado</a></li>
                    <li><a href="#">Mochilas</a></li>
                    <li><a href="#">Marcas</a></li>
                </ul>
            </div>
            <nav class="main-nav">
                
                <div class="right-navbar">
                   
                    <div class="search">
                        <a><i class="fas fa-search"></i></a>
                    </div>

                    <div class="user">
                        <a href="/login"><i class="fas fa-user-circle"></i></a>
                    </div>
    
                    <div class="cart">
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </nav>
        </section>
    </header>
    
    <body>

        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <header>
            <div class="form-titulo">
                <h1 class="text-center">Carrito de compra</h1>
                
            </div>
        </header>
       
        <!-- Carrito -->
 <section class="shopping-cart">
    <div class="container">
        <section class="shopping-cart">
            <div class="container">
                <h2 class="text-center"><h2><span class="red">1</span>Carrito</h2>
                <h2><span class="white">2</span>Tus datos</h2>
                 <h2><span class="white">3</span>Envío</h2>
                 <h2><span class="white">4</span>Confirmá y Pagá</h2>   
                </h2>
                            
        
                <div class="row">
            <div class="col-16">
                <div class="shopping-cart-header">
                    <h2>Producto</h2>
                </div> 
                <div>
                <img src="#" alt=" Descripcion" class="img-prod">
                      </div>
            <div class="col-6">
                <div class="shopping-cart-header">
                    <h4 class="text-truncate">Precio</h4>
                </div>
            </div>
            <div class="col-8">
                <div class="shopping-cart-header">
                    <h4>Cantidad</h4>
                </div>
            </div>
        </div>
        <div class="shopping-cart-items shoppingCartItemsContainer">
        </div>
        
        
            <div class="col-6">
                <div class="shopping-cart-total d-flex align-items-center">
                    <p class="mb-0">Total</p>
                    <p class="ml-4 mb-0 shoppingCartTotal">$00.00</p>
                    <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
                        data-delay="2000">
                        <div class="toast-header">
                            <span>✅</span>
                            <strong class="mr-auto ml-1 text-secondary">Agregar</strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                       
                    </div>
                    <button class="btn btn-success ml-auto comprarButton" type="button" data-toggle="modal"
                        data-target="#comprarModal">Comprar</button>
                </div>
            </div>
        </div>

     
        <div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="comprarModalLabel">Gracias por su compra</h4>
                    </div>
                    
               </div>
            </div>
        </div>
      
    </div>

</section>
<button class="btn btn-success ml-auto comprarButton" type="button" data-toggle="modal" 
        data-target="#comprarModal">SIGUIENTE</button>
                </div>



    <footer class="footer-home">
        <form class="suscribe" action="/subscribe" method="POST">
            <div class="form-label">
                <h3>Suscribite a nuestro newsletter</h3>
                <p>¡Mantente al dia con nuestras últimas ofertas!</p>
            </div>
            <div class="subvar">
                <input type="email" name="subscribe" placeholder="Email">
                <button type="submit"><a href="/"><i class="fas fa-arrow-right"></i></a></button>
            </div>
        </form>
        <div class="footerBottom">
            <div class="logoBox">
                <img class="logoImg" src="/images/logo/logoBlanco.png" alt="Botacura">
                <img class="logoLetras" src="/images/logo/logoLetrasBlanco.png" alt="Botacura">
            </div>
            <div class="info">
                <ul>
                    <li>Quienes somos</li>
                    <li>Contacto</li>
                    <li>Atencion al cliente</li>
                    <li>Terminos y condiciones</li>
                </ul>
            </div>
            <div class="redes">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </footer>


</body>
</html>
    
    <script src="/js/flickity.pkgd.min.js"></script>
</body>
</html>