<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Carrito de compras | Botacura</title>
</head>
<body>
    <header class="header-cart">
        <section>
            <div class="bars">
                <a href="#"><i class="fas fa-bars"></i></a>
            </div>
            <div class="logo">
                <a href="/"><img src="/images/logo/logo.png" alt="logo"></a>    
            </div>
            <div class="central-navbar">
                <ul>
                    <li><a href="#">Escalada</a></li>
                    <li><a href="#">Camperas</a></li>
                    <li><a href="#">Calzado</a></li>
                    <li><a href="#">Mochilas</a></li>
                    <li><a href="#">Marcas</a></li>
                </ul>
            </div>
            <nav class="main-nav">
                
                <div class="right-navbar">
                   
                    <div class="search">
                        <a><i class="fas fa-search"></i></a>
                    </div>

                    <div class="user">
                        <a href="/login"><i class="fas fa-user-circle"></i></a>
                    </div>
    
                    <div class="cart">
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </nav>
        </section>
    </header>

    <main class="main-cart">
        <h1 class="mainTitle">Tu carrito de compras</h1>
        <section class="progressBar">
            <div class="cart">
                <div class="paso paso1"><p><i class="fas fa-hiking"></i></p></div>
                <p class="subtext">Carrito</p>
            </div>
            <div class="yourData">
                <div class="paso paso2"><p></p></div>
                <p class="subtext">Tus datos</p>
            </div>
            <div class="send">
                <div class="paso paso3"><p></p></div>
                <p class="subtext">Envio</p>
            </div>
            <div class="confirm">
                <div class="paso paso4"><p></p></div>
                <p class="subtext">Confirma y paga</p>
            </div>
        </section>
        <article class="products">

            <div class="product">
                <div class="imgName">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="">
                    <p class="productName">Casco</p>
                </div>
                <div class="quantity">
                    <p class="productQuantity">Cantidad</p>
                    <div class="number"></div> 
                </div>
                <div class="sumaPrecios">
                    <div class="price">
                        <p>Precio</p>
                        <p>$###</p>
                    </div>
                    <div class="total">
                        <p>Total</p>
                        <p>$###</p>
                    </div>
                </div>
                <div class="buttonDelete">
                    <p>Eliminar</p>
                </div>
            </div>

            <div class="product">
                <div class="imgName">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="">
                    <p class="productName">Casco</p>
                </div>
                <div class="quantity">
                    <p class="productQuantity">Cantidad</p>
                    <div class="number"></div> 
                </div>
                <div class="sumaPrecios">
                    <div class="price">
                        <p>Precio</p>
                        <p>$###</p>
                    </div>
                    <div class="total">
                        <p>Total</p>
                        <p>$###</p>
                    </div>
                </div>
                <div class="buttonDelete">
                    <p>Eliminar</p>
                </div>
            </div>

            <div class="product">
                <div class="imgName">
                    <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="">
                    <p class="productName">Casco</p>
                </div>
                <div class="quantity">
                    <p class="productQuantity">Cantidad</p>
                    <div class="number"></div> 
                </div>
                <div class="sumaPrecios">
                    <div class="price">
                        <p>Precio</p>
                        <p>$###</p>
                    </div>
                    <div class="total">
                        <p>Total</p>
                        <p>$###</p>
                    </div>
                </div>
                <div class="buttonDelete">
                    <p>Eliminar</p>
                </div>
            </div>
        </article>
        <div class="shipment">
            <div class="extras"><p>Total Productos AR $###</p>
                <p>Cupon de Descuento</p>
                <p>Cargo envio AR$##</p>
            </div>
            <h3>TOTAL</h3>
            <p>AR$###</p>
        </div>
        <div class="continue">
            <div class="continueButton">
                <p>Siguiente</p>
            </div>
        </div>
        <section class="offers">
            <div class="freeShipment">
                <i class="fas fa-truck"></i>
                <h3>ENVIO GRATIS</h3>
                <p>en compras superiores a $$</p>
            </div>
            <div class="noInterest">
                <i class="far fa-credit-card"></i>
                <h3>CUOTAS SIN INTERES</h3>
                <p>ver promociones bancarias</p>
            </div>
            <div class="complains">
                <i class="fas fa-phone-alt"></i>
                <h3>RECLAMOS</h3>
                <p>011-0123-4567</p>
            </div>
        </section>
    </main>

    <footer class="footer-cart">
        <form class="suscribe" action="/subscribe" method="POST">
            <div class="form-label">
                <h3>Suscribite a nuestro newsletter</h3>
                <p>¡Mantente al dia con nuestras últimas ofertas!</p>
            </div>
            <div class="subvar">
                <input type="email" name="subscribe" placeholder="Email">
                <button type="submit"><a href="/"><i class="fas fa-arrow-right"></i></a></button>
            </div>
        </form>
        <div class="footerBottom">
            <div class="logoBox">
                <a href="/"><img class="logoImg" src="/images/logo/logoBlanco.png" alt="Botacura"></a>
                <a href="/"><img class="logoLetras" src="/images/logo/logoLetrasBlanco.png" alt="Botacura"></a>
            </div>
            <div class="info">
                <ul>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Atencion al cliente</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                </ul>
            </div>
            <div class="redes">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/JuanLamb/ProgramaticGrupo9Sprint2"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>