* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

/* =========================== HEADER =========================== */
.header-home{
    background-color: #cfd186;
    width: 100vw;
    border-bottom: solid 5px #552244;
}

.header-home section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-home img {
    width: 70px;
}

.header-home .bars {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-left:20px;
}

.header-home .main-nav{
    width: 100px;
    padding-right: 10px;
}

.header-home .right-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-home .right-navbar i{
    font-size: 20px;
}

.header-home a{
    text-decoration: none;
    color: #596157;
}

.header-home .central-navbar {
    display: none;
}


/* =================== MAIN =========================== */
    main div {
        height: 500px;
    }

    main {
        background-color: #fff;
    }
/* =================== FOOTER ========================= */

.footer-home {
    border-top: solid 5px #5b8c5a;
    background-color: #cfd186;
    height: 30vh;
}